*
{
  padding: 0;
  margin: 0;
}

.banner_1 {
    background: url(https://i.ytimg.com/vi/zRjoq7Vk3-8/maxresdefault.jpg);
    background-attachment: fixed;
    background-size: contain;
    height: 80vh;
    background-repeat: no-repeat;
}

a {
  color: black;
  text-decoration: none;
}

img.img-fluid.pull-xs-left.d-inline-block.align-center {
    border-radius: 100%;
}

.carousel-caption.d-none.d-md-block {top: 20vh;}

.input-group
{
  width: 90%!important;
  max-width: 500px;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  padding: 2px;
}
.form-control
{
  border-radius: 30px!important;
  margin: 2px;
  box-shadow: none!important;
}
.input-group-text
{
  width: 100px;
  background-image: linear-gradient(#00ff7e,#1f3d90);
  border: 0 !important;
  color: #fff !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}

/*features*/

.features
{
  padding: 100px 0;
}
h1
{
  text-align: center;
  padding-bottom: 30px;
}
.feature-img img
{
  width: 100%;
  height: 45vh;
}
.price
{
  width: 50px;
  height: 50px;
  background: #ff5722;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  position: absolute;
  left: 20px;
  bottom: -25px;
}
.feature-img
{
  position: relative;
}
.rating
{
  padding: 3px;
  float: right;
  background: #fff;
  bottom: -1px;
  right: 0;
  position: absolute;
}
.features .fa
{
  font-size: 15px;
  color: #ff5722;
}
.feature-details
{
  padding: 20px;
  text-align: justify;
}
.feature-details h4
{
  font-weight: 600;
  margin-top: 20px;
  height: 10vh;
}

.feature-details p {
  height: 50vh;
}

.feature-details .fa
{
  margin-right: 5px;
}
.feature-box
{
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}
#gallery
{
  width: 100%;
  padding: 70px 0;
}
.title-text
{
  text-align: center;
  padding-bottom: 70px;
}
.title-text p
{
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title-text p::after{
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587,#fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1
{
  font-size: 50px;
}
.gallery-box
{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.galleries
{
  flex-basis: 50%;
}
.galleries-img
{
  flex-basis: 50%;
  margin: auto;
}
.galleries-img img
{
  width: 70%;
  border-radius: 10px;
}
.galleries h1
{
  text-align: left;
  margin-bottom: 10px;
  font-weight: 100;
  color: #009688;
}
.galleries-desc
{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.gallery-icon .fa
{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 1px solid #009688;
}
.gallery-text p
{
  padding: 0 20px;
  text-align: initial;
}
@media screen and (max-width: 770px){
  .title-text h1
  {
    font-size: 35px;
  }
  .galleries
  {
    flex-basis: 100%;
  }
  .galleries-img
  {
    flex-basis: 100%;
  }
  .galleries-img img
  {
    width: 100%;
  }
}
#service
{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box
{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service
{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
  height: 55vh;
}
.overlay
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay
{
  opacity: 1;
}
.service-desc
{
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr
{
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p{
  font-size: 14px;
}
.single-service:hover .service-desc{
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width: 770px){
  .single-service
  {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p{
    font-size: 12px;
  }
  hr
  {
    margin: 5px auto;
  }
  .single-service:hover .service-desc{
    bottom: 25% !important;
  }
}
#testimonial{
  width: 100%;
  padding: 70px 0;
}
.testimonial-row{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.testimonial-col{
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
  cursor: pointer;
  transition: transform.5s;
}
.testimonial-col p{
  font-size: 14px;
  height: 15vh
}
.user{
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 20vh;
}
.user img{
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.user-infor .fa{
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;
}
.user-infor small{
  color: #009688;
}
.testimonial-col:hover{
  transform: translateY(-7px);
}
@media screen and (max-width: 770px){
  .testimonial-col{
    flex-basis: 100%;
  }
}
.banner
{
  height: 88%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.banner-highlights
{
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
}
.booking-btn
{
  width: 100%;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  margin-top: 20px;
}

/*Team Review*/

.team-feedback
{
  padding: 100px 0;
}
.mem-review
{
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
  padding-bottom: 50px;
  height: 40vh;
}
.mem-review p
{
  padding: 50px 10px 10px 10px;
  height: 25vh;
}
.mem-feedback img
{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: -30px 0 40%;
}
.mem-review p::before
{
  content: '\201d';
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  left: 44%;
  top: -20px;
}
.footer
{
  padding: 100px 20px 15px;
  background-image: linear-gradient(#2d557d, #9610fb);
  color: #fff;
}
.footer-logo
{
  width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer h4
{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p
{
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}
.footer .row .fa
{
  font-size: 15px;
}
.fa-heart
{
  margin: 0 5px;
  color: red;
}
.footer .copyright
{
  text-align: center;
}
