*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
.registrationForm{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/531321/pexels-photo-531321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 400px;
    height: 600px;
    position: relative;
    margin: 5% auto;
    border: 8px solid black;
    padding: 5px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 2px 2px 3px 8px #938b8b;
}

.button-box{
    width: 220px;
    margin: 40px auto 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

button.submit-btn {
    margin-top: 3vh;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #362b2f, #999891);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 135px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999997;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #362b2f, #999891);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.info {
    margin: 30px 0;
    text-align: center;
    width: 100%;
    background: #403e3d;
    font-size: 13px;
    padding: 16px 0px;
    transition: 300ms;
    border-radius: 31px;
    display: none;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
