body {
  margin: 0;
  padding: 0;
}

img.img-fluid.pull-xs-left.d-inline-block.align-center {
    border-radius: 100%;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

h2, .title-content p {
    text-shadow: 1px 1px 2px black;
}

h1, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}

.title-content p {
  font-weight: 700;
  color: #413b3a;
}

p {
  text-align: start;
}

h2 {
    color: white;
    font-weight: lighter;
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
}

img.mr-3 {
    align-self: center;
}

.carousel-caption.d-none.d-md-block {
    margin-bottom: 30px;
}

.row {
  text-align: center;
}


.card {
  box-shadow: 1px 1px 5px grey;
  margin-top: -50px;
}

h1.font-weight-lighter {
    text-align: center;
}

.infor {
    max-width: 75%;
    text-align: left;
    margin-left: -100px;
    background: white;
}

.col-md-6 {
    align-self: center;
}

.unit-1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
}
.unit-1:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
}

.unit-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
  .unit-1 img, .unit-1 .unit-1-text {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}
  .unit-1 .unit-1-text {
    z-index: 2;
    position: absolute;
    bottom: 10px;
    color: #fff;
    display: block;
    width: 100%;
}
    .unit-1 .unit-1-text .unit-1-heading {
      font-size: 1.2rem;
      position: relative;
}
.unit-1:hover .unit-1-text {
    bottom: 30px;
}
  .unit-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.col-lg-6 {align-self: center;}

.quote {
    margin-left: -150px;
    margin-right: 150px;
}

img.img-md-fluid {
    width: 100%;
}

.col-lg-6.align-self-center.p-5.bg-white.overlap-left p {
  font-weight: 300;
  text-shadow: none;
  font-size: 1.2rem;
  line-height: 1.7;
}

.container-fluid.bg-color {
  background: #d9ecffcf;
}


.overlap-left {
  margin-left: -100px; }
  @media (max-width: 991.98px) {
    .overlap-left {
      margin-left: 0px; } }

@media (max-width: 991.98px) {
        .img-md-fluid {
          max-width: 100%; } }

.container a h1 {
    font-size: 40px;
    font-weight: lighter;
}

.unit-4.d-flex h3 {font-size: 2.2rem;}

.unit-4.d-flex p {
    font-size: 1.1rem;
}

.unit-4.d-flex {
    text-align: left;
}

.unit-4 a {
  color: #e91e63;
}

p.color-black-opacity-5 {
    text-align: center;
}

a.traveler {
    text-decoration: none;
    color: orangered;
}

a.traveler:hover {
    cursor: pointer;
    color: darkred;
}

.container.pt-5.pb-5 {
    text-align-last: left;
}

.footer_content p {
    color: lightslategrey;
}

.list-nav-text a {
    color: darkgrey;
    text-decoration: none;
}

.list-nav-text a:hover {
    cursor: pointer;
    color: lightgrey;
}

.icon ul.ml-auto.list-unstyled.d-flex.mb-0{
    place-content: center;
}


.icon ul.ml-auto.list-unstyled.d-flex.mb-0 a{
  color: darkgrey;
  text-decoration: none;
}

.icon ul.ml-auto.list-unstyled.d-flex.mb-0 a:hover{
  cursor: pointer;
  color: lightgrey;
}

.card-img-fluid {
  height: 40vh;
}

.card-body:hover {
    cursor: pointer;
    background: linear-gradient( 40deg, #f30e0e, #ff9800 );
}

.checked {
  color: yellow;
}
/*blogcss*/

.title {
    text-align: center;
}

img.img-fluid-post {
    height: 35vh;
}

.box {
    padding: 10px;
}

.btn1 button{
  font-size: 22px;
}

.search {
  background-color: #f3a750d9;;
  margin-right: 100px;
}

.Categories {
  background-color: #f3a750d9;;
  margin-right: 100px;
  margin-top: 50px;
}
.lastednews {
  background-color: #f3a750d9;;
  margin-right: 100px;
  margin-top: 50px;
}
.populartaps{
  background-color: #f3a750d9;
  margin-right: 100px;
  margin-top: 50px;
}
.populartaps button{
  margin: 10px;
}
.comments {
  background-color: #f3a750d9;
  margin-right: 100px;
  margin-top: 50px;
}
.comments h2{
  font-size: 20px;
}
.comments h3{
  font-size: 15px;
}

.btn button{
  background-color: white;
  border-color: red;
  box-shadow: 1fr 1fr 1fr 3fr;
  color: red;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  margin-left: 450px;
  font-size: 17px;
}
.container2{
  margin-top: 20px;
  background-color: gray;
}

h3.outline {
    text-align: center;
}

hr {
  height: 10px;
  border-width:0;
  color:gray;
  background-color:gray;
}

.form_bg {
  background: #9faebd;
  padding: 10px;
  border-radius: 5%;
  z-index: 1;
  box-shadow: 2px 2px 2px 8px #b9aaaa;
}

.card {
  background: none;
  border-radius: 5%;
  padding: 10px;
  box-shadow: 2px 2px 12px 2px #2a8595;
}

.row.comments {
  background-color: white !important;
}